:root {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background-color: #f8f8fa;
  overflow-x: hidden;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
